[submodule "submodules/gcc"]
	path = submodules/gcc
	url = https://github.com/gcc-mirror/gcc
  branch = master

[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = https://github.com/jwong101/llvm-mirror.git
	branch = main
